#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.item-display {
  padding: 1em;
  width: 1em;
}

.item-display:hover {
  cursor:pointer;
  transform: scale(1.05);
}

.all-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  padding: 1em;
}

.item-actions {
  display: flex;
  justify-content: space-around;
}